In [1]:
# Dependencies
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import splinter
import pymongo
from splinter import Browser
from selenium import webdriver

In [2]:
# visit Mars Weather
executable_path = {'executable_path': '/Users/mrvis/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url_news = 'https://mars.nasa.gov/news/'
browser.visit(url_news)
html = browser.html
soup = bs(html, "html.parser")

In [3]:
# Retrieve page with the requests module
response = requests.get(url_news)

In [4]:
print(response)

<Response [200]>

In [5]:
#Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [6]:
news_title = soup.find("div", class_= "content_title").find("a").text.strip()

In [7]:
news_p = soup.find("div","article_teaser_body").text

In [8]:
print(news_title)
print(news_p)

NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

In [9]:
# visit Mars images
#executable_path = {'executable_path': '/Users/mrvis/Downloads/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)
url_pic = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_pic)
html_pic = browser.html
soup = bs(html_pic, "html.parser")

In [10]:
#Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [11]:
search_area = soup.find("div", class_= "carousel_items")
#print(search_area.prettify())

In [12]:
# Identify and return URL for the latest image
url_picb = search_area.a['data-fancybox-href']
print(url_picb)

/spaceimages/images/mediumsize/PIA18848_ip.jpg

In [13]:
#Combine the two URL's to produce the actual URL for the image
url_pica = "https://www.jpl.nasa.gov"
image_url = url_pica + url_picb
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18848_ip.jpg

In [14]:
# visit Mars twitter
#executable_path = {'executable_path': '/Users/mrvis/Downloads/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)
url_twitter = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_twitter)
html_twitter = browser.html
soup = bs(html_twitter, "html.parser")

In [15]:
search_twitter = soup.find_all("div", class_= "js-tweet-text-container")
#print(search_twitter)

In [16]:
# Retrieve the weather related tweet
for tweet in search_twitter: 
    mars_weather = tweet.find('p').text
    if 'Sol' and 'pressure' in mars_weather:
        print(mars_weather)
        break
    else: 
        pass

InSight sol 309 (2019-10-10) low -102.3ºC (-152.1ºF) high -26.2ºC (-15.1ºF)
winds from the SSE at 6.1 m/s (13.6 mph) gusting to 18.9 m/s (42.4 mph)
pressure at 7.20 hPapic.twitter.com/sSOjseIl81

In [17]:
#url_fact = 'https://space-facts.com/mars/'

In [18]:
# visit Mars twitter
#executable_path = {'executable_path': '/Users/mrvis/Downloads/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)
url_fact = 'https://space-facts.com/mars/'
browser.visit(url_fact)
html_facts = browser.html
soup = bs(html_facts, "html.parser")

In [19]:
search_facts = soup.find("table", class_= "tablepress tablepress-id-p-mars")
print(search_facts.prettify())

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

In [20]:
tables = pd.read_html(url_fact)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
df1 = tables[0]
df1.columns = ['Parameter', 'Mars', 'Earth']
print(df1)

            Parameter             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:    -153 to 20 °C      -88 to 58°C

In [22]:
df2 = tables[1]
df2.columns = ['Parameter','Value']
print(df2)

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
html_table1 = df1.to_html()
#html_table1

In [24]:
html_table1.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [25]:
html_table2 = df2.to_html()
#html_table2

In [26]:
html_table2.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [27]:
df1.to_html('table1.html')

In [28]:
df2.to_html('table2.html')

In [29]:
# visit Mars images
#executable_path = {'executable_path': '/Users/mrvis/Downloads/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)
url_astro = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_astro)
html_astro = browser.html
soup = bs(html_astro, "html.parser")

In [30]:
# Parse HTML with Beautiful Soup and Retreive all items that contain mars hemispheres information
items = soup.find_all('div', class_='item')

# Create empty list for hemisphere urls and Store the main_ul
astro_image_urls = [] 
astro_main_url = 'https://astrogeology.usgs.gov'

# Loop through the items
for i in items: 
    # Store title and link that leads to full image website
    title = i.find('h3').text
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    
    # Visit the link that contains the full image website 
    browser.visit(astro_main_url + partial_img_url)
    
    # HTML Object of individual hemisphere information website 
    partial_img_html = browser.html
    soup = bs(partial_img_html, 'html.parser')
    
    # Retrieve full image source and append the retreived information into a list of dictionaries 
    img_url = astro_main_url + soup.find('img', class_='wide-image')['src']
    astro_image_urls.append({"title" : title, "img_url" : img_url})
    
# Display hemisphere_image_urls
astro_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [31]:
# !ipython nbconvert --to=python mission_to_mars.ipynb